@media (min-width: 768px) {

    .dl-horizontal{
        margin-top: 12px;
    }

    .dl-horizontal dt {
        width:180px; 
        white-space: normal; 
        margin-bottom: 7px;
        font-size:small;

    }

    .dl-horizontal dd {
        margin-left:200px;
        margin-bottom: 7px;
    }

    .dl-horizontal dd p {
        margin-bottom: 1px;
        text-indent: 20px;
    }

    .dl-horizontal dd cite{
        float: right;
        margin-right: 1px;
    }

    .dl-horizontal dd blockquote{
        margin: 0px;
        padding-right: 1px;
        padding-bottom: 1px;
        padding-top: 1px;
        font-size:small;
        font-style: italic;
    }

    section>p:first-child{
        text-indent:21px;
    }
  
}
